<%= turbo_frame_tag dom_id(calendar_day) do %>
  <% if calendar_day.available? %>
    <%= button_to select_calendar_day_path(code: campaign_participant.unique_calendar_link, selected_day: calendar_day.day),
        data: { turbo_frame: "calendar" } do %>
      <div class="border p-2 rounded <%= calendar_day_status_class(calendar_day&.status || 'available') %>">
        <div class="text-center"><%= calendar_day.day %></div>
        <div class="text-sm text-center"><%= number_to_currency(calendar_day.amount) %></div>
      </div>
    <% end %>
  <% elsif calendar_day.selected? %>
    <%= button_to deselect_calendar_day_path(code: campaign_participant.unique_calendar_link, selected_day: calendar_day.day),
        data: { turbo_frame: "calendar" } do %>
      <div class="border p-2 rounded <%= calendar_day_status_class(calendar_day&.status || 'available') %>">
        <div class="text-center"><%= calendar_day.day %></div>
        <div class="text-sm text-center"><%= number_to_currency(calendar_day.amount) %></div>
      </div>
    <% end %>
  <% elsif calendar_day.selected? && calendar_day.cookie_id == session.id %>
    <div class="border p-2 rounded <%= calendar_day_status_class(calendar_day&.status || 'available') %>">
      <div class="own-selection">Your selection. Day: <%= calendar_day.day %></div>
    </div>
  <% elsif calendar_day.purchased? %>
    <div class="border p-2 rounded <%= calendar_day_status_class(calendar_day&.status || 'available') %>">
      <div class="purchaser-name"><%= calendar_day.purchaser_name %></div>
    </div>
  <% end %>
<% end %>