<div id="<%= dom_id participant %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= participant.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= participant.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Teacher:</strong>
    <%= participant.teacher %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Unique calendar link:</strong>
    <%= participant.unique_calendar_link %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Campaign:</strong>
    <%= participant.campaign_id %>
  </p>

</div>
