<% flash.each do |type, message| %>
  <% 
    alert_styles = case type.to_s
      when "notice", "success"
        "border-l-4 border-green-400 bg-green-50"
      when "error", "alert"
        "border-l-4 border-red-400 bg-red-50"
      when "warning"
        "border-l-4 border-yellow-400 bg-yellow-50"
      else
        "border-l-4 border-blue-400 bg-blue-50"
    end

    text_color = case type.to_s
      when "notice", "success"
        "text-green-700"
      when "error", "alert"
        "text-red-700"
      when "warning"
        "text-yellow-700"
      else
        "text-blue-700"
    end

    icon_color = case type.to_s
      when "notice", "success"
        "text-green-400"
      when "error", "alert"
        "text-red-400"
      when "warning"
        "text-yellow-400"
      else
        "text-blue-400"
    end
  %>
  <div data-controller="alert"
       data-alert-dismiss-after-value="3000"
       data-alert-remove-class="transition ease-in-out duration-300 opacity-0"
       class="fixed top-0 left-0 right-0 flex justify-center z-[9999] p-4"
       role="alert">
    <div class="<%= alert_styles %> p-4 min-w-[32rem] max-w-2xl">
      <div class="flex">
        <div class="shrink-0">
          <% case type.to_s %>
          <% when "notice", "success" %>
            <svg class="h-5 w-5 <%= icon_color %>" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
            </svg>
          <% when "error", "alert" %>
            <svg class="h-5 w-5 <%= icon_color %>" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
            </svg>
          <% when "warning" %>
            <svg class="h-5 w-5 <%= icon_color %>" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495ZM10 5a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 10 5Zm0 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
            </svg>
          <% else %>
            <svg class="h-5 w-5 <%= icon_color %>" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd" />
            </svg>
          <% end %>
        </div>
        <div class="ml-3">
          <p class="text-sm <%= text_color %>">
            <%= sanitize message %>
          </p>
        </div>
        <div class="ml-auto pl-3">
          <div class="shrink-0">
            <button type="button"
                    data-action="alert#close"
                    class="<%= icon_color %> hover:opacity-75"
                    aria-label="Close">
              <span class="sr-only">Close</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
