<div id="<%= dom_id campaign %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Organization:</strong>
    <%= campaign.organization_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= campaign.start_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End date:</strong>
    <%= campaign.end_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= campaign.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= campaign.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= campaign.active %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Commission rate:</strong>
    <%= campaign.commission_rate %>
  </p>

</div>
