<div id="<%= dom_id organization %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= organization.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address 1:</strong>
    <%= organization.address_1 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address 2:</strong>
    <%= organization.address_2 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= organization.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= organization.state %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contact email:</strong>
    <%= organization.contact_email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Owner:</strong>
    <%= organization.owner_id %>
  </p>

</div>
